.main-content {
  flex: 1;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Center align and add margins */
  overflow-y: auto; /* Enable scrolling for overflow */
}

.code-editor {
  text-align: left; /* Align text left */
}

.code-input {
  width: 100%; /* Full width */
  max-width: 100%; /* Maximum width */
  height: 400px; /* Fixed height */
  min-height: 200px; /* Minimum height */
  resize: vertical; /* Allow vertical resizing */
}

.language-select {
  margin-top: 10px;
}

.language-select select {
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #888;
}

.output pre {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: left;
  white-space: pre-wrap; /* Preserve formatting */
}

.applications {
  margin-top: 20px;
}

.pretag {
  color: black;
}
